<div class="cards-container">
<div style="margin-right: 2%;" align=right>
<button type="submit" class="btn btn-primary" ng-click="moveToConfig()" >Configuration</button>
<button type="submit" class="btn btn-primary" ng-click="logout()">logout</button>
</div>

<!--cards -->

<div class="card" ng-repeat="con in allConfigs " ng-click="moveToSelfHelp()">

<div class="image">
   <img src="{{con.image_url}}">
</div>
<div class="title">
 <h1>
{{con.name}}</h1>
</div>
<div class="des">
 <p>{{con.description}}</p>
<!-- <button class="btn btn-outline-primary">Read More...</button> -->
</div>
</div>
<!--cards -->



</div>