<div class="cards-container">
<div style="margin-right: 2%;" align=right>
<button type="submit" class="btn btn-primary" ng-click="moveToConfig()" >Configuration</button>
<button type="submit" class="btn btn-primary" ng-click="logout()">logout</button>
</div>
<div class="card">

<div class="image">
   <img src="icons/DashboardIcon.jpg">
</div>
<div class="title">
 <h1>
Dashboard</h1>
</div>
<div class="des">
 <p>Please click here to move to Dashboard page...</p>
<!-- <button class="btn btn-outline-primary">Read More...</button> -->
</div>
</div>
<!--cards -->

<div class="card" ng-click="moveToSelfHelp()">

<div class="image">
   <img src="icons/selfhelp.jpg">
</div>
<div class="title">
 <h1>
Self Help Portal</h1>
</div>
<div class="des">
 <p>Please click here to move to Self Help page...</p>
<!-- <button class="btn btn-outline-primary">Read More...</button> -->
</div>
</div>
<!--cards -->

<div class="card">

<div class="image">
   <img src="icons/settings.jpg">
</div>
<div class="title">
 <h1>
Automation</h1>
</div>
<div class="des">
 <p>Please click here to move to Automation page...</p>
<!-- <button class="btn btn-outline-primary">Read More...</button> -->
</div>
</div>

<div class="card">
<div class="image">
   <img src="icons/operations.png">
</div>
<div class="title">
 <h1>
AMS Operations </h1>
</div>
<div class="des">
 <p>Please click here to move to AMS Operations Page...</p>
<!-- <button class="btn btn-outline-primary">Read More...</button> -->
</div>
</div>


</div>